<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./imgs/envelope.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./style.css" rel="stylesheet">

    <title>{{title}}</title>

  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bae53b7d59.js" crossorigin="anonymous"></script>
    <script src="./mail_script.js"></script>

    <div class="col-12 d-flex flex-column justify-content-between">
        <div>
            <div class="row border-bottom justify-content-between align-items-center py-3">
                <img class="ml-4" src="./imgs/envelope.png" alt="" width="36" height="36">
                <h4 class="">{{title}}</h4>
                <div class="icon mr-4"><i class="fa-solid fa-arrow-right-from-bracket" title="logout" id="logout"></i></div>
            </div>
            @for(mode in modes) {
                <div class="row justify-content-center mail-list" id="{{mode.name}}">
                    <div class="col-md-9">
                        @for(mail in mode.mails) {
                            <div class="mail row mail-{{mail.new}}" title="{{mail.title}}"
                                content="{{mail.content}}"sender="{{mail.sender}}">
                                <div class="col-12">                            
                                    <div class="row justify-content-between">
                                        <span class="ml-3">{{mail.sender}}</span>
                                        <span class="mr-3">{{mail.time}}</span>
                                    </div>
                                    
                                    <div class="row">
                                        <span class="ml-3">{{mail.title}}</span>
                                        <span class="ml-3 text-muted">{{mail.content}}</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row border-top justify-content-center align-items-center icon-containter">
            <div title="sent" class="col-2 mail-icon">
                <i class="fa-regular fa-paper-plane"></i>
            </div>
            <div title="favourites" class="col-2 mail-icon">
                <i class="fa-regular fa-star"></i>
            </div>
            <div title="inbox" class="col-2 mail-icon fa-2xl primary-text">
                <i class="fa-solid fa-inbox"></i>
            </div>
            <div title="drafts" class="col-2 mail-icon">
                <i class="fa-regular fa-file"></i>
            </div>
            <div title="trash" class="col-2 mail-icon">
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
    </div>  

    <!-- Email modal -->
    <div class="modal fade" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="email-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body py-4" id="email-content"></div>
            <div class="modal-footer" id="email-sender"></div>
        </div>
        </div>
    </div>

  </body>
</html>