@font-face {
  font-family: "Zorque";
  src: url("./fonts/zorque.otf");
}

:root {
  --main-color: oklch(59.418% 0.15835 38.319);
  --main-shadow: oklch(59.418% 0.15835 38.319 0.5);
  --block-color: oklch(72.41% 0.10844 64.623);
  --block-color: oklch(72.41% 0.10844 64.623 0.5);
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  background-color: #4d4d52;
  color: #fff;
  font-family: 'Zorque', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
@media (max-width: 300px) {
  h1,h2,h3 {
    font-size: 12vw;
  }
}

h1, h2, h3 {
  color: var(--main-color);
  text-shadow: 0px 6px 0px var(--main-shadow);
}

.cont {
  transform: translateY(-62px);
  overflow: hidden;
}

#board {
  border: 6px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 6px 0px var(--main-shadow);
}

.exit {
  position: absolute;
  height: 8vw;
  max-height: 50px;
  border: 4px solid #4d4d52;
}

.board-cell {
  background-color: #3f3f3f;
  border-radius: 5px;
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  margin: 2px;
  transition-duration: 2s;
}

.block {
  background-color: var(--block-color);
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: relative;
}
.block.main {
  background-color: var(--main-color);
}

.h-start {
  border-radius: 5px 0px 0px 5px;
  width: calc(8vw + 7px);
  max-width: 57px;
}
.h-block {
  width: calc(8vw + 7px);
  max-width: 57px;
}
.h-end {
  border-radius: 0px 5px 5px 0px;
}

.hb {
  box-shadow: 0px 3px 0px var(--block-shadow);
  transform: translateY(-3px);
}

.v-start {
  height: calc(8vw + 10px);
  max-height: 60px;
  transform: translateY(-3px);
  border-radius: 5px 5px 0px 0px;
}
.v-block {
  height: calc(8vw + 7px);
  max-height: 57px;
}
.v-end {
  box-shadow: inset 0px -3px 0px var(--block-shadow);
  border-radius: 0px 0px 5px 5px;
}

.block.hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}

.end-pannel {
  opacity: 0;
  background-color: var(--block-color);
  border-radius: 5px;
  box-shadow: 0px 6px 0px var(--block-shadow);

}
.end-pannel td, .end-pannel h2 {
  color: #f3f3f3;
  text-shadow: 0px 3px 0px var(--main-shadow);
}

.end-pannel a {
  color: #f3f3f3;
  text-shadow: 0px 3px 0px var(--main-shadow);
  box-shadow: 0px 3px 0px var(--main-shadow);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  text-decoration: none;
  transition-duration: 0.5s;
}
.end-pannel a:hover, .end-pannel a:active{
  filter: brightness(85%);
}
