@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;900&display=swap');

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #4d4d52;
  color: #fff;
  font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 16px;
}

.nav-link {
    text-align: center;
    padding: 16px;
    background-color: #363639;
    transition-duration: 0.25s;
    cursor: pointer;
}
.nav-link:hover {
    background-color: #414145;
}
.nav-link:active {
    background-color: #323234;
}
.nav-link.active {
    color: #e1a847;
}
.nav-link::after {
    transition-duration: 0.25s;
    content:"";
    background: #e1a847;
    position: absolute;
    left: 50%;
    height: 2px;
    right: 50%;
    bottom: 0;
}
.nav-link.active::after {
    transition-duration: 0.25s;
    left: 0%;
    right: 0%;
}
.text-muted {
  color: #ccc !important;
  font-size: 0.8rem;
}

i {
    color: #e1a847;
}

.mcard {
    border-radius: 8px;
    background-color: #363639;
}
.mcard-title {
    font-size: 1.25rem;
}

.cont {
    position: relative !important;
}

.mcontent {
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: 460px) {
    h3 {
      font-size: 1.5rem;
    }
}
@media (max-width: 350px) {
    h3 {
      font-size: 1.25rem;
    }
}

.mcontent.mcontent-1.move {
    transform: translateX(-100vw);
}

.mcontent.mcontent-2 {
    transform: translateX(100vw);
}
.mcontent.mcontent-2.move {
    transform: translateX(0) !important;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  transition-duration: 0.25s;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input:focus, .form-signin select:focus {
  outline: none !important;
  border:1px solid #e1a847;
  box-shadow: 0 0 4px #e1a847;
}

.btn-primary {
  background-color: #e1a847;
  border: none !important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #ad843c !important;
}
.btn-primary:active {
  background-color: #7e6333 !important;
}
